<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
    <entry key="boardSelectAll">
        SELECT B.BOARD_ID, B.BOARD_TITLE, B.BOARD_CONTENT, E.EMP_ID, E.EMP_NAME, B.BOARD_CREATED_AT
            FROM board.BOARD B
          JOIN employee.EMPLOYEE E ON B.EMP_ID = E.EMP_ID
        ORDER BY B.BOARD_CREATED_AT DESC
    </entry>

    <entry key="boardSelectById">
        SELECT B.BOARD_ID, B.BOARD_TITLE, B.BOARD_CONTENT, E.EMP_ID, E.EMP_NAME, B.BOARD_CREATED_AT
            FROM board.BOARD B
        JOIN employee.EMPLOYEE E ON B.EMP_ID = E.EMP_ID
          WHERE B.BOARD_ID = ?
    </entry>

    <entry key="boardInsert">
        INSERT INTO board.BOARD
        (
            BOARD_TITLE, BOARD_CONTENT, EMP_ID, EMP_NAME
        )
        VALUES
        (
            ?, ?, ?, ?
        )
    </entry>

    <entry key="boardUpdate">
        UPDATE board.BOARD
          SET
            BOARD_TITLE = ?,
            BOARD_CONTENT = ?
          WHERE BOARD_ID = ?
    </entry>

    <entry key="boardDelete">
        DELETE FROM
            board.BOARD
          WHERE BOARD_ID = ?
    </entry>

    <entry key="boardSelectByPage">
        SELECT
            B.BOARD_ID,
            B.BOARD_TITLE,
            B.BOARD_CONTENT,
            E.EMP_ID,
            E.EMP_NAME,
            B.BOARD_CREATED_AT
          FROM board.BOARD B
        JOIN employee.EMPLOYEE E ON B.EMP_ID = E.EMP_ID
            ORDER BY B.BOARD_CREATED_AT DESC
        LIMIT ?, ?
    </entry>

    <entry key="boardTotalCount">
        SELECT COUNT(*) FROM board.BOARD
    </entry>
</properties>
